* {
  margin: 0;
}

// .Card {
//   max-width: 345px;
//   max-height: 442.15;
//   border: 2px solid black;
//   transition: transform 450ms;
//   background-color: #424242;
//   color: #424242;
// }

.panels {
  max-width: 345px;
  max-height: 442.15;
  border: 2px solid black;

  margin-bottom: 45px;
  margin-right: 10px;

  color: #424242;
  box-sizing: border-box;
  padding: 20px;
}

// .CardMedia {
//   display: flex;
//   overflow-y: hidden;
//   overflow-x: scroll;

//   padding: 20px;
// }
.panels_canvis {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
}
.panels_canvi {
  object-fit: contain;
  width: 100%;
  max-height: 250px;
  margin-right: 10px;
  transition: transform 450ms;
}

.panels_header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.panels_title {
  padding: 20px;
}
.panels_user {
  margin-right: 20px;
}

.panels_canvis::-webkit-scrollbar {
  display: none;
}

.panels_media {
  object-fit: contain;
  width: 100%;
  max-height: 250px;
  margin-right: 10px;
  transition: transform 450ms;
}

// .panels_media:hover {
//   transform: scale(1.5);
//   opacity: 1;
// }
.panels:hover {
  transform: scale(1);
  opacity: 1;
}

.panels__inputRemark {
  flex: 1;
}

.panel__remarkButton {
  flex: 0;
}
