$paper: #e0d8c9;
$texture: url("https://www.transparenttextures.com/patterns/cardboard.png");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=Ibarra+Real+Nova&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Comfortaa&family=Josefin+Sans:ital,wght@0,400;1,500&display=swap");
.workspace {
  max-height: 650px;
  width: 400em;
  height: 680em;
  max-width: 90%;
  background-image: $texture;
  background-color: $paper;
  box-shadow: 7px 7px 8px #888888;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 10px;
  border-radius: 6px;
  padding: 1px;
}

.egClass:focus {
  outline: none !important;
}

.workspace-two {
  max-height: 325px;
  width: 400em;
  height: 680em;
  max-width: 40%;
  background-image: $texture;
  background-color: $paper;
  box-shadow: 7px 7px 8px #888888;
  margin-left: 100px;
  margin-bottom: 30px;
  margin-top: 10px;
  border-radius: 6px;
  padding: 10px;
}

.landcard {
  max-width: 500px;
  max-height: 190px;
  width: 400em;
  height: 700em;
  background-image: $texture;
  background-color: rgb(14, 103, 164);
  margin-left: 130px;
  margin-bottom: 170px;
  margin-top: 40px;
  border-radius: 8px;
  font-family: "Varela Round";
  font-size: 50px;
  font-kerning: normal;
  position: float;
  z-index: 9;
  color: white;
  padding: 20px;
  padding-left: 40px;
  z-index: 3;
}

.chimera {
  max-height: 55%;
  position: absolute;
  margin-left: 10px;
  top: 170px;
  z-index: 0;
}

.toolbar {
  display: flex;
  justify-content: flex-start;
  width: 80%;
  height: 30px;
  background-image: $texture;
  background-color: rgb(156, 111, 62);
  font-family: "Raleway";
  font-size: 20px;
  align: center;
  font-kerning: normal;
  position: float;
  z-index: 9;
  margin: 0 -15px;
  color: white;
  margin-left: 100px;
  border-radius: 6px;
  padding: 10px;
  margin-top: 50px;
  box-shadow: 7px 7px 8px #888888;
}

.toolbar2 {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  height: 30px;
  background-image: $texture;
  background-color: rgb(156, 111, 62);
  font-family: "Raleway";
  font-size: 20px;
  align: center;
  font-kerning: normal;
  position: float;
  z-index: 9;
  margin: 0 -15px;
  color: white;
  margin-left: 100px;
  border-radius: 6px;
  padding: 10px;
  margin-top: 50px;
  box-shadow: 7px 7px 8px #888888;
}

.save {
  margin-left: 15px;
  margin-right: 15px;
}

.title {
  left: 0;
}
