$paper: #e0d8c9;
$texture: url("https://www.transparenttextures.com/patterns/cardboard.png");

.workspace {
  max-width: 80%;
  max-height: 650px;
  width: 400em;
  height: 680em;
  background-image: $texture;
  background-color: $paper;
  box-shadow: 7px 7px 8px #888888;
  margin-left: 100px;
  margin-bottom: 30px;
  margin-top: 50px;
  border-radius: 6px;
  padding: 10px;
}
